{% extends 'base.html' %}
{% block title %}Home{% endblock %}
{% block ownstyle %}<link rel="stylesheet" href="{{url_for('static', filename='index.css')}}">{% endblock %}
{% block content %}
<h2>C2 mini system "Mouse"</h2>
<main>


<div id="aval_hosts_div">

    <p><label for="ahosts">Avaliable hosts</label></p>
    <textarea name="aval_hosts" id="ahosts" readonly rows="25%" cols="30"></textarea>
    <form action="{{url_for('clear')}}">
        <p><input type="submit" value="Clear"></p>
    </form>
</div>
<div id="attackdiv">
    <h2>Attack host</h2>
    <form action="{{url_for('throw_command')}}" method="post" id="form_attack">
        <p><label for="host">Host</label></p>
        <input type="text" id="host" name="host">
        <p><label for="tactic">Tactic</label></p>
        <select name="tactic" id="tactic" onchange="addtext_field()">
            <option value="T1082">T1082 - System information discovery</option>
            <option value="T1059">T1059 - Command-Line Interface</option>
            <option value="T1083">T1083 - File and Directory Discovery</option>
            <option value="T1105">T1105 - Remote File Copy</option>
            <option value="T1107">T1107 - File Deletion</option>
            <option value="T1057">T1057 - Process Discovery</option>
            <option value="T1056">T1056 - Input Capture</option>
            <option value="T1115">T1115 - Clipboard Data</option>
            <option value="T1113">T1113 - Screen Capture</option>
            <option value="T1123">T1123 - Audio Capture</option>
            <option value="T1125">T1125 - Video Capture</option>
        </select>
        <p id="button"><input type="submit" value="Attack!" id="submit_but"></p>
    </form>
</div>
</main>
<script>
    async function getobj(){
        const request = new Request('https://192.168.0.15/data.json')
        const response = await fetch(request)
        const hosts = await response.json()
        arr = Object.keys(hosts)
        for(let i = 0; i<arr.length; i++){
            document.getElementById('ahosts').value += arr[i]+"\n"
        }
    }
    function addtext_field(){
        var select = document.getElementById('tactic')
        if(select.value=='T1059' || select.value=='T1083' || select.value == 'T1105' || select.value == 'T1107' || select.value=='T1123' || select.value=='T1056'){
            if(document.getElementById('add_data')==null){
                let text_field = document.createElement("input")
                text_field.type="text"
                text_field.name="add_data"
                text_field.id="add_data"
                document.getElementById('button').before(text_field)
                let label_p = document.createElement("p")
                label_p.id = "add_data_label"
                label_p.innerHTML = '<label for="add_data">Additional data</label>'
                document.getElementById('add_data').before(label_p)
            }
        }else{
            if(document.getElementById('add_data')!=null){
                document.getElementById('add_data_label').remove()
                document.getElementById('add_data').remove()
            }
        }
    }
    getobj()
</script>
{% endblock %}